@import "../../global.scss";
.portfolioRow {
  font-size: 11pt;
  margin-right: 50px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;

  &.active {
    background-color: $mainColor;
    color: white;
  }

  .title{
  font-size: 11pt;
  font-weight: 900;
  }

  .desc{
    font-size: 9pt;
  }

  td{
    padding: 4px;
  }


}
