@import "../../global.scss";

.about {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow:hidden;

  // .table{
  //   background-color: aqua;
    
  // }

  // td{
  //   background-color: aliceblue;
  // }

  .projects-cta{
    min-height: 5rem;
    display: contents;
    text-align: center;
    padding-top: 1rem;
  }

  
 

  .icon-td{


    @include mobile {
      max-width: 7rem;
      background-color: aqua;
    }
  }

  .avatar{
    max-width: 10rem;

    @include mobile {
      // min-height: 6rem;
      max-height: 8rem;
    }
  }

  h2{
    
    font-size: 3rem;
    min-height: 3rem;
    @include mobile {
      min-height: 2rem;
      font-size: 27px;
    }

  }


  .icon-style{
    height: 7rem;


    @include mobile {
      height: 5rem;
      // width: 100%;
      margin-right: 11rem;
      overflow: auto;
      min-width: 4rem;

    }
  }


  .avatar-parent{
    height: 22rem;
    overflow: hidden; 
    @include mobile {
      height: 8rem;
      overflow: hidden; 
    }
  }
  .avatar-style{
    max-width: 10rem;
    min-height: 15rem;
    @include mobile {
       max-width: 5rem;
       min-height: 0rem;
      
    }
  }



  





  
}


