@import "../../global.scss";

.about {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2{
    
    font-size: 3rem;
    min-height: 3rem;
    @include mobile {
      min-height: 2rem;
      font-size: 30px;
    }

  }
  span{
    // font-size: larger;
  }
  .icon-container{
    min-height: 7rem;
    overflow: 100%;

    @include mobile{
      min-width: 99px;
    }
  }

  .icon-style{
    max-width: 15rem;
    padding:1rem;
    height:100%;
    max-height: 10rem;
    @include mobile {
      height: 5rem;
      // width: 100%;
      margin-right: 11rem;
      overflow: auto;
      min-width: 4rem;

    }
  }


  .avatar-parent{
    height: 22rem;
    overflow: hidden; 
    @include mobile {
      height: 8rem;
      overflow: hidden; 
    }
  }
  .avatar-style{
    max-width: 10rem;
    min-height: 15rem;
    @include mobile {
       max-width: 5rem;
       min-height: 0rem;
      
    }
  }

  .icon-styling{

    @include mobile {
      max-width: 5rem;
      padding-top: 2rem;
    }
  }

  .message{
    font-size: 30px;
    max-width: 40rem;
    padding-bottom: 1rem;

    @include mobile {
      max-width: 19rem;
      font-size: larger;
      padding: 1rem;
      justify-content: "center";
      font-size: 18;
    }

  }


  
  
  h1 {
    font-size: 50px;
    padding: 4px;

    @include mobile {
      font-size: 20px;
    }
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;

    @include mobile {
      margin: 10px 0;
      flex-wrap: wrap;
      justify-content: center;
    }

    li {
      font-size: 14px;
      margin-right: 50px;
      padding: 7px;
      border-radius: 10px;
      cursor: pointer;

      &.active {
        background-color: $mainColor;
        color: white;
      }
    }
  }
  .container {
    display: flex;
    width: 100%;
    height: 70%;

    .left {
      flex: 1;
      overflow: hidden;
      text-align: left;
      padding-top: 20px;
      padding-left: 5%;
      padding-right: 5%;

      .buttonContainer {
        padding-top: 50px;
        a {
          text-decoration: none;
          button {
            width: 100px;
            height: 28px;
            color: white;
            align-content: flex-end;
            font-weight: bold;

            background-color: crimson;
            border: none;
            border-radius: 5px;

            cursor: pointer;
          }
        }
        .divider {
          width: 5px;
          height: auto;
          display: inline-block;
        }
      }

      h2 {
        padding-bottom: 10px;
       
      }
      h3 {
        font-weight: 20;
        color: lightgrey;
        font-family: "Roboto Mono", monospace;
        padding-bottom: 10px;
      }
      img {
        height: 100%;
      }
      body {
        line-height: 1.6;
      }
    }
    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-left: 3px solid #f8f8f8;

      @include mobile {
        display: none;
      }

      .imgContainer {
        img {
          width: 90%;
          border-radius: 10%;
        }
      }

      h2 {
        font-size: 30px;
      }
    }
  }
}


