.billboard {
  padding-top: 70px;

  .container {
    padding-left: 30px;
    display: grid;
    .article {
      .list-style {
        list-style-type: circle;
        padding:1rem;
    
        
      }
      h1 {
        padding-bottom: 8px;
      }
      .fig1 {
        width: 500px;
      }
      .hl-bb {
        max-width: 65%;
      }
      .heading-date {
        color: grey;
        font-weight: 1;
        font-size: 14;
        padding-bottom: 10px;
      }
      .business-case-container 
      {
        .inner-business-case-container{
          padding:0.5rem;
        }
        margin: 1rem;
        
//          padding: 15px;
        
        width: 90%;
        justify-content: center;
        border-style: double;
        font-family: "Times New Roman", Times, serif;
      }
    }
  }
}
