.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: #ffffff;
    color: black;
    padding: 20px;
    border-radius: 8px;
    width: 70%;
// height: 70%;

    .li-style{
      list-style-type: circle;
      padding:1rem;
    }

    h4{
      padding-top: 1rem;
      padding-bottom: 1rem;
    }


    p{
      padding-bottom: 0.5rem;
    }


  }
  