<li className='li-style'>2 x Meal prep for blueprint meals of Green giant, Super Vege, Nutty Putting and (not in
    blueprint) Chicken breast and sweet potato.</li>
<li className='li-style'>Planning my day around sleep being a first class citizen - planning work and goals within those
    parameters</li>
<li className='li-style'>Going to gym before work </li>
</ul>
<h4>Solving for:</h4>
<p>Food wastage and availablity. Preping more often, with less volume resulting in navigating around the exuse of 'I
    don't have enough time to prep for an hour tonight - i'll eat out'. My prep time fell to 24 mins which provides me 3
    days with of blueprint meals. </p>
<p>Going to gym before work ensures that I can begin cortosol mangement directly after work, leading into a evening for
    more calm which helped me with falling to sleep.</p>
<p>With a minor sacrifice in number of hours worked my productive hours are much more effective when i've had multiple
    days of consistently great sleep.</p>