<li className='li-style'>Zero alcohol when i'm meeting people groups greater than or equal to 3</li>
<li className='li-style'>Zero fast-fast food. </li>
</ul>
<h4>Solving for:</h4>
<p>Using alcohol as a crutch for experiencing normal social behaviors: I find it quite easy to meet one on one with just
    about
    anybody. It's in groups where I seem to want to lean into alcohol to making the experience more manageable. I've
    identified that when I do drink, I often come away from the social event lacking the meaningfulness that I otherwise
    do when i'm not drinking. As for why i'm less reluctant to have a drink when it's just two people; well, i'd
    eventually like to move to having zero alcohol, but for now I appreciate that for people who enjoy wine, having a
    glass when the person opposite is having a water sometimes lessens their ~vibe~. </p>
<p>Eating any fast-food: Across a time window greater than 24 hours, I never enjoy fast-food. The main thing i'm solving
    for here is eating fast-food alone (uber eats, drive through burgers, etc.). For myself, i'm a hard no. When the
    only food being offered is fast-food at a social event, i'll opt for either managing my hunger or duck out for a
    quick, healthier snack.</p>