<ul>
    <li className='li-style'>Saying ‘no’ to events that are involve heavy drinking, late nights or zero access to
        reasonably nutritious foods. </li>
</ul>
<h4>Friction points</h4>
<p>This is another aspect of ~Blueprint that has been hard to find systems for since events are sometimes unpredictable
    or I forget to adequately prepare myself to avoid poor habits. </p>


{
"htmlContent": "<ul>
    <li className='li-style'>Paying attention to times where I'll opt for convenient foods/entertainment</li>
</ul>
<h4>Friction points</h4>
<p>This aspect of my Blueprint protocol has been hard to see a marked improvement in. Historically, I've struggled to
    say no to convenient food, having spent an embarrassingly large amount on fast food and Uber Eats, and time on
    Netflix and YouTube. I've done the tally and it's crushing, but I try to siphon that energy into motivation to say
    no to these destructive habits.</p>"
}

{
"htmlContent": "<ul>
    <li className='li-style'>Saying 'no' to events that involve heavy drinking, late nights, or zero access to
        reasonably nutritious foods.</li>
</ul>
<h4>Friction points</h4>
<p>This is another aspect of ~Blueprint that has been hard to find systems for since events are sometimes unpredictable,
    or I forget to adequately prepare myself to avoid poor habits.</p>"
}