.parent-div{
    padding:1rem;
    .table-style {
        border: 1px solid black;
        border-collapse: collapse;

        button {
          transition-duration: 0.4s;
        }
        
        button:hover {
          background-color: #4CAF50; /* Green */
          color: white;
        }
    
      
        th, td, tr {
          border: 1px solid black;
          padding: 8px;
          text-align: left;
        }
      }
      


}

