.app {
  height: 100vh;
  background-color:rgb(81,81,113);
  color: white;
  .figure{
    border-radius: 0.5rem;
    margin: 1rem;
  }
  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; // Remove for firefox only
    // Remove for other browsers
    &::-webkit-scrollbar {
      display: none;
    }
    > * {
      width: 100%;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}
